/* components/CustomCursor.module.css */
.cursor-ball {
 width: 8px;
 height: 8px;
 background-color: #000;
}

.cursor-outline {
 width: 3rem;
 height: 3rem;
 border: 1px solid #000;
 transition: all 0.5s ease;
}

.cursor-ball,
.cursor-outline {
 border-radius: 50%;
 position: fixed;
 z-index: 100;
 pointer-events: none;
 transform: translate(-50%, -50%);
}

.cursor-outline.cursor-mousedown {
 transform: translate(-50%, -50%) scale(1.2);
}
